body {
  margin: 0 auto;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  margin-bottom: 12px;
  font-family: "Kaushan Script", cursive;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
i:not(:last-child) {
  margin-right: 5px;
}

.underline {
  text-decoration: underline;
}
.container {
  display: flex;
  max-width: 480px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: 0 auto;
  text-align: center;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dark-bcg {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.day-bcg {
  background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fff94c,
    #004ff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fff94c,
    #004ff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.search-form {
  position: relative;
  width: 90%;
  height: 45px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;
  transform: scale(1);
  transform-origin: bottom left;
  transition: transform 250ms linear;
}
.search-field {
  width: 100%;
  padding: 8px 16px;
  color: #4f4e50;
  border: 1px solid rgb(0, 4, 40, 0.4);
  -webkit-box-shadow: 3px -1px 4px 0px #000428;
  -moz-box-shadow: 3px -1px 4px 0px #000428;
  box-shadow: 3px -1px 4px 0px #000428;
  border-radius: 4px;
}
.search-field::placeholder {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}
.form-control {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.75;
}
.search-form:is(:hover, :focus) {
  transform: scale(1.02);
}
.margin {
  margin-bottom: 78px;
}
.icon-wrapper {
  position: relative;
  display: inline-block;
}
.city-icon {
  font-size: 2rem;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}
.is-pin {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
}
.city-icon:hover {
  transform: scaleX(1.02);
}
.temperature {
  font-family: "Kaushan Script", cursive;
  font-size: 18px;
}
.degrees {
  margin-bottom: 8px;
  font-size: 48px;
  line-height: 1.11;
}
.units {
  display: none;
  position: relative;
  top: -34px;
  font-size: 1rem;
}
.date,
.weather-desc {
  color: rgba(240, 248, 255, 0.6);
  margin-bottom: 4px;
}
.weather-desc {
  font-family: "Kaushan Script", cursive;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.temp-range {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
}
.picture {
  max-width: 80px;
  margin: 0 auto 8px;
  animation: zoomIn;
  animation-duration: 5000ms;
}
.type-of-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 3px solid rgba(0, 4, 40, 0.4);
  font-size: 0.8rem;
}
.footer-wrapper {
  padding: 8px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  -webkit-box-shadow: 3px -2px 4px 0px #000428;
  -moz-box-shadow: 3px -2px 4px 0px #000428;
  box-shadow: 3px -2px 4px 0px #000428;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.time-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.time-item {
  flex-basis: calc((100% - 8px) / 5);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  -webkit-box-shadow: 3px -2px 4px 0px #000428;
  -moz-box-shadow: 3px -2px 4px 0px #000428;
  box-shadow: 3px -2px 4px 0px #000428;
  transform: scale(1);
  transform-origin: bottom left;
  transition: transform 250ms linear, font-size 250ms linear;
}
.time-item:is(:hover, :focus) {
  transform: scale(1.02);
  font-size: 1.1rem;
}
@media screen and (max-width: 384px) {
  .time-item {
    font-size: 0.75rem;
  }
  .time-item:is(:hover, :focus) {
    font-size: 0.8rem;
  }
}
.repo-link {
  color: rgba(240, 248, 255, 0.6);
}
.autor-data {
  font-size: 0.8rem;
}
.autor-data span {
  font-family: "Kaushan Script", cursive;
}
