body {
  margin: 0 auto;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 32px;
}

main {
  position: relative;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  margin-bottom: 12px;
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
  font-weight: 400;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.phone-attribute i:not(:last-child) {
  margin-right: 5px;
}

.underline {
  text-decoration: underline;
}

.current {
  color: aliceblue;
}

.container {
  position: relative;
  max-width: 480px;
  min-height: 100vh;
  padding: 0 16px 0 16px;
  margin: 0 auto;
  text-align: center;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-form {
  position: relative;
  display: flex;
  height: 45px;
  margin: 0 auto 32px;
}

.search-field {
  width: 100%;
  padding: 8px 16px;
  color: #4f4e50;
  border: 1px solid rgb(0, 4, 40, 0.4);
  -webkit-box-shadow: 3px -1px 4px 0px #000428;
  -moz-box-shadow: 3px -1px 4px 0px #000428;
  box-shadow: 3px -1px 4px 0px #000428;
  border-radius: 4px;
}

.search-field::placeholder {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.form-control {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.75;
}

.weather-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}

.city-search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.icon-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.city-icon {
  font-size: 2rem;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.city-icon::before {
  padding: 10px;
}

.is-pin {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.temperature {
  margin-right: 15px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 1.11;
}

.degrees {
  position: relative;
  margin-bottom: 8px;
}

.units {
  position: absolute;
  font-family: "Kaushan Script", cursive;
  font-size: 0.8rem;
  line-height: 1.11;
  color: rgba(240, 248, 255, 0.6);
}

.date,
.weather-desc {
  color: rgba(240, 248, 255, 0.6);
  margin-bottom: 4px;
}

.weather-desc {
  font-family: "Kaushan Script", cursive;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.weather-desc-additionally {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.weather-desc-additionally .weather-desc {
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}

.temp-range {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
}

.min {
  color: rgba(240, 248, 255, 0.6);
}

.picture {
  max-width: 45%;
  margin: 0 auto 8px;
  animation: zoomIn;
  animation-duration: 5000ms;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 8px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  -webkit-box-shadow: 3px -2px 4px 0px #000428;
  -moz-box-shadow: 3px -2px 4px 0px #000428;
  box-shadow: 3px -2px 4px 0px #000428;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-button {
  background: none;
  border: none;
  padding: 12px 12px;
  color: inherit;
  cursor: pointer;
}

.type-of-forecast {
  border-bottom: 3px solid rgba(0, 4, 40, 0.4);
  font-size: 0.8rem;
}

.type-of-forecast .picture {
  max-width: 100%;
}

.temp-forecast-range {
  font-size: 0.8rem;
}

.current-forecast {
  display: block;
}

.disabled-forecast {
  display: none;
}

.time-list {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.time-item {
  flex-basis: calc(100% / 5);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  -webkit-box-shadow: 3px -2px 4px 0px #000428;
  -moz-box-shadow: 3px -2px 4px 0px #000428;
  box-shadow: 3px -2px 4px 0px #000428;
  transform: scale(1);
  transform-origin: bottom left;
  transition: transform 250ms linear, font-size 250ms linear;
}

@media screen and (max-width: 320px) {
  .time-list {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 360px) {
  .time-item {
    font-size: 0.75rem;
  }
  .temp-forecast-range {
    font-size: 0.6rem;
  }
}

.repo-link {
  color: rgba(240, 248, 255, 0.6);
}

.autor-data {
  padding: 8px 8px 0;
  font-size: 0.8rem;
}

.autor-data span {
  font-family: "Kaushan Script", cursive;
}
